.firstTitle{
	background: #e40;
	height: 100px;
	color:#eee;
	padding-top: 20px;
}
.other{
	background: red;
}
.titre
{
	font-size: 35px;
}
footer
{
	background: #333;
	border-top: #eef 1px solid;
	color:#CCC;
	min-height: 100px;
	margin-top:25px;
}
.centeredText
{
	text-align: center;
}
.bodySite
{
	min-height: 349px;
}
#formulaire_connexion
{
	text-align: right;
}
.ftbig
{
	font-size: 1.2em;
}
.ftsmall
{
	font-size: 0.5em;
}
.clpurple
{
	color:purple;
}