Options +FollowSymlinks
RewriteEngine on

RewriteRule ^.*/global/(.*) global/$1

RewriteRule ^index.php/(?!global)(.*?)/(.*?)/?$ index.php?module=$1&action=$2 [L,QSA]
RewriteRule ^(?!global)(.*?)/(.*?)/?$ index.php?module=$1&action=$2 [L,QSA]
